flows_RaspberryIoT.json
[{"id":"2da4825.867057e","type":"tab","label":"Test MQTT","disabled":false,"info":""},{"id":"25292806.046098","type":"tab","label":"Lights","disabled":false,"info":""},{"id":"6a6e273c.13cf28","type":"tab","label":"Temperature","disabled":false,"info":""},{"id":"68b99665.cbf1f8","type":"tab","label":"Email & SMS","disabled":false,"info":""},{"id":"f581c0c5.147ba","type":"tab","label":"Language","disabled":false,"info":""},{"id":"4f93bed7.8fae1","type":"tab","label":"Raspberry","disabled":false,"info":"This flow provides OS information like memory usage.\nIt also shows the usage of GPIO PINs.\n"},{"id":"9cb1152a.598d98","type":"tab","label":"Cognitive Services","disabled":false,"info":"This flow handles the binding of the MQTT topics\nto the REST API of Microsoft Cognitive Services.\n\nAPIs in this example:\n- Computer Vision\n- Face API"},{"id":"e9727776.d47d28","type":"tab","label":"Dashboard","disabled":false,"info":"Example dashboard showing the possibilities of building the UI purely using Node-RED. In many cases it might be sufficient to neet the needs.\n\nIt supports charts, various controls, Angular-like templating, styling, ..."},{"id":"e790f957.017af8","type":"tab","label":"Notifications","disabled":false,"info":"Example integration with Gmail. It periodically checks the mailbox for new messages and exposes the message details as an MQTT topic. Subscribers might hook in actions as needed."},{"id":"e95ee81c.353af8","type":"tab","label":"LED Strip","disabled":false,"info":"LED indicator of Azure DevOps build (red/green) "},{"id":"fa367d94.1313a","type":"tab","label":"Servo","disabled":false,"info":""},{"id":"1caa4142.4be09f","type":"tab","label":"Poll","disabled":false,"info":"Poll using MQTT topics and state persisted in Node-RED global context"},{"id":"fb8f935b.473fa","type":"tab","label":"Luminosity","disabled":false,"info":""},{"id":"1f40a4d.dd7e65b","type":"tab","label":"Movement","disabled":false,"info":""},{"id":"18ff1498.55adbb","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"cdd120e8.bbc7c","type":"wit-app","z":"","name":"acc-iot-workshop","token":"L7OGC34GCFN2CWGAY2Q5FC5RWFDTGI6I"},{"id":"3736441a.ee0f1c","type":"mqtt-broker","z":"","name":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"6e794538.453d5c","type":"ui_group","z":"","name":"Servo","tab":"30e6e6a1.01175a","order":2,"disp":true,"width":"3","collapse":false},{"id":"30e6e6a1.01175a","type":"ui_tab","z":"","name":"Home Dashboard","icon":"dashboard","disabled":false,"hidden":false},{"id":"17cde56f.ff2ecb","type":"mqtt-broker","z":"","name":"","broker":"iot.eclipse.org/ws/mqtt","port":"443","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"dfffe5c2.6238b8","type":"ui_group","z":"","name":"OS","tab":"30e6e6a1.01175a","order":1,"disp":true,"width":"6","collapse":false},{"id":"780b960.81a766c","type":"ui_group","z":"","name":"Sensor","tab":"30e6e6a1.01175a","order":3,"disp":true,"width":"6","collapse":false},{"id":"44df7867.dcf258","type":"twilio-api","z":"","name":"oliver.hruby@gmail.com","sid":"ACcf69d1393c4474d19a53690130577e72","from":"+19162496660"},{"id":"ca285f49.90873","type":"inject","z":"2da4825.867057e","name":"Light ON","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":100,"wires":[["d3de3808.3fca18"]]},{"id":"a7274201.164e","type":"inject","z":"2da4825.867057e","name":"Light OFF","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":140,"wires":[["d3de3808.3fca18"]]},{"id":"d3de3808.3fca18","type":"mqtt out","z":"2da4825.867057e","name":"","topic":"acc-iot-workshop/light","qos":"","retain":"","broker":"17cde56f.ff2ecb","x":340,"y":120,"wires":[]},{"id":"4d7f5ca2.0a56e4","type":"e-mail in","z":"68b99665.cbf1f8","name":" acc.iot.workshop@gmail.com","protocol":"IMAP","server":"imap.gmail.com","useSSL":true,"port":"993","box":"INBOX","disposition":"Read","repeat":"30","fetch":"auto","inputs":0,"x":180,"y":120,"wires":[["c5632a5d.8df058"]]},{"id":"98b8db86.1aeb38","type":"wit-message","z":"f581c0c5.147ba","name":"","app":"cdd120e8.bbc7c","x":450,"y":120,"wires":[["e41dd29a.6dc7"]]},{"id":"c5632a5d.8df058","type":"mqtt out","z":"68b99665.cbf1f8","name":"","topic":"acc-iot-workshop/email","qos":"","retain":"","broker":"17cde56f.ff2ecb","x":480,"y":120,"wires":[]},{"id":"ec3d35ca.8a3fb8","type":"mqtt in","z":"2da4825.867057e","name":"","topic":"test","qos":"2","broker":"3736441a.ee0f1c","x":250,"y":420,"wires":[["612694bc.ca705c"]]},{"id":"612694bc.ca705c","type":"debug","z":"2da4825.867057e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":410,"y":380,"wires":[]},{"id":"1e65607e.e9008","type":"comment","z":"2da4825.867057e","name":"Control the light manually with public MQTT broker","info":"","x":230,"y":60,"wires":[]},{"id":"8288bc08.fbb6e","type":"comment","z":"2da4825.867057e","name":"Listen to topic 'test' on local MQTT broker","info":"","x":200,"y":340,"wires":[]},{"id":"245e09e6.2cc4f6","type":"function","z":"9cb1152a.598d98","name":"config","func":"global.set('cognitive.face.url', 'https://westeurope.api.cognitive.microsoft.com/face/v1.0');\nglobal.set('cognitive.face.key', 'c2e970e6be6d40859f133d1fdf0735a0');\nglobal.set('cognitive.vision.url', 'https://westeurope.api.cognitive.microsoft.com/vision/v1.0');\nglobal.set('cognitive.vision.key', '85ceefada8064fbb9b57cb9642b143a9');\n","outputs":1,"noerr":0,"x":470,"y":40,"wires":[[]]},{"id":"462bdfad.064b4","type":"inject","z":"9cb1152a.598d98","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"","x":330,"y":40,"wires":[["245e09e6.2cc4f6"]]},{"id":"3c98451.bc76cba","type":"comment","z":"9cb1152a.598d98","name":"Subscription Keys","info":"","x":130,"y":40,"wires":[]},{"id":"733fa896.5efe18","type":"function","z":"9cb1152a.598d98","name":"prepare","func":"msgOut = {\n    payload: {\n        url: msg.payload\n    },\n    url: global.get('cognitive').vision.url + '/ocr',\n    headers: {\n        'Content-Type': 'application/json',\n        'Ocp-Apim-Subscription-Key': global.get('cognitive').vision.key\n    }\n}\nreturn msgOut;","outputs":1,"noerr":0,"x":260,"y":680,"wires":[["1f4838f.bf8e7c7"]]},{"id":"1f4838f.bf8e7c7","type":"http request","z":"9cb1152a.598d98","name":"","method":"POST","ret":"txt","url":"","tls":"","x":410,"y":680,"wires":[["117f9f53.90adf1"]]},{"id":"181302d6.980e4d","type":"inject","z":"9cb1152a.598d98","name":"","topic":"","payload":"https://upload.wikimedia.org/wikipedia/commons/0/0b/Small_Faces_1965.JPG","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":110,"y":680,"wires":[["733fa896.5efe18"]]},{"id":"a03dd774.1477d8","type":"comment","z":"9cb1152a.598d98","name":"Computer Vision - OCR","info":"","x":140,"y":640,"wires":[]},{"id":"117f9f53.90adf1","type":"debug","z":"9cb1152a.598d98","name":"","active":true,"console":"false","complete":"false","x":570,"y":680,"wires":[]},{"id":"6ff81fac.a42e9","type":"rpi-gpio out","z":"4f93bed7.8fae1","name":"","pin":"36","set":"","level":"0","freq":"","out":"out","x":380,"y":320,"wires":[]},{"id":"98de5365.79d79","type":"inject","z":"4f93bed7.8fae1","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":300,"wires":[["6ff81fac.a42e9"]]},{"id":"4d7a7b40.4725c4","type":"inject","z":"4f93bed7.8fae1","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":340,"wires":[["6ff81fac.a42e9"]]},{"id":"ca2485e8.8e2748","type":"comment","z":"68b99665.cbf1f8","name":"Listen to emails","info":"","x":140,"y":80,"wires":[]},{"id":"e52eb002.30ef","type":"comment","z":"68b99665.cbf1f8","name":"Publish the email to allow subscriptions","info":"","x":530,"y":80,"wires":[]},{"id":"374f674b.9fda68","type":"mqtt in","z":"f581c0c5.147ba","name":"","topic":"acc-iot-workshop/command","qos":"2","broker":"17cde56f.ff2ecb","x":160,"y":200,"wires":[["98b8db86.1aeb38","89bfc1ff.3c86d"]]},{"id":"25b274d0.12971c","type":"mqtt in","z":"2da4825.867057e","name":"","topic":"acc-iot-workshop/#","qos":"2","broker":"17cde56f.ff2ecb","x":130,"y":260,"wires":[["d1759fda.a291b"]]},{"id":"d1759fda.a291b","type":"debug","z":"2da4825.867057e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":330,"y":260,"wires":[]},{"id":"fe9e1a2.bc825e8","type":"comment","z":"2da4825.867057e","name":"Listen to all topics and write to debug window","info":"","x":210,"y":220,"wires":[]},{"id":"57ab67d9.873c48","type":"mqtt in","z":"2da4825.867057e","name":"","topic":"$SYS/broker/clients/connected","qos":"2","broker":"17cde56f.ff2ecb","x":170,"y":380,"wires":[["612694bc.ca705c"]]},{"id":"d0295f35.30e1d","type":"function","z":"9cb1152a.598d98","name":"prepare","func":"msgOut = {\n    payload: {\n        url: msg.payload\n    },\n    url: global.get('cognitive').vision.url + '/analyze?visualFeatures=Categories&language=en',\n    headers: {\n        'Content-Type': 'application/json',\n        'Ocp-Apim-Subscription-Key': global.get('cognitive').vision.key\n    }\n}\nreturn msgOut;","outputs":1,"noerr":0,"x":260,"y":440,"wires":[["1feb3522.761e1b"]]},{"id":"1feb3522.761e1b","type":"http request","z":"9cb1152a.598d98","name":"","method":"POST","ret":"obj","url":"","tls":"","x":410,"y":440,"wires":[["eec20d70.d089c"]]},{"id":"b30196f9.d43478","type":"inject","z":"9cb1152a.598d98","name":"","topic":"","payload":"https://upload.wikimedia.org/wikipedia/commons/0/0b/Small_Faces_1965.JPG","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":110,"y":440,"wires":[["d0295f35.30e1d"]]},{"id":"97bbd4e.6bcb328","type":"comment","z":"9cb1152a.598d98","name":"Computer Vision - Analyze","info":"","x":150,"y":400,"wires":[]},{"id":"eec20d70.d089c","type":"debug","z":"9cb1152a.598d98","name":"","active":true,"console":"false","complete":"false","x":570,"y":440,"wires":[]},{"id":"c7963240.984d","type":"function","z":"9cb1152a.598d98","name":"prepare","func":"msgOut = {\n    payload: {\n        url: msg.payload\n    },\n    url: global.get('cognitive').face.url + '/detect?returnFaceId=true&returnFaceLandmarks=false',\n    headers: {\n        'Content-Type': 'application/json',\n        'Ocp-Apim-Subscription-Key': global.get('cognitive').face.key\n    }\n}\nreturn msgOut;","outputs":1,"noerr":0,"x":260,"y":800,"wires":[["80269353.654b6"]]},{"id":"80269353.654b6","type":"http request","z":"9cb1152a.598d98","name":"","method":"POST","ret":"txt","url":"","tls":"","x":410,"y":800,"wires":[["c30de058.20756"]]},{"id":"e837235f.270c4","type":"inject","z":"9cb1152a.598d98","name":"","topic":"","payload":"https://upload.wikimedia.org/wikipedia/commons/0/0b/Small_Faces_1965.JPG","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":110,"y":800,"wires":[["c7963240.984d"]]},{"id":"cb76d2.b51a593","type":"comment","z":"9cb1152a.598d98","name":"Face API - Detect","info":"","x":130,"y":760,"wires":[]},{"id":"c30de058.20756","type":"debug","z":"9cb1152a.598d98","name":"","active":true,"console":"false","complete":"false","x":570,"y":800,"wires":[]},{"id":"756cad6d.df47c4","type":"function","z":"9cb1152a.598d98","name":"prepare","func":"msgOut = {\n    payload: {\n        url: msg.payload\n    },\n    url: global.get('cognitive').vision.url + '/describe',\n    headers: {\n        'Content-Type': 'application/json',\n        'Ocp-Apim-Subscription-Key': global.get('cognitive').vision.key\n    }\n}\nreturn msgOut;","outputs":1,"noerr":0,"x":260,"y":520,"wires":[["48059dfd.811234"]]},{"id":"48059dfd.811234","type":"http request","z":"9cb1152a.598d98","name":"","method":"POST","ret":"obj","url":"","tls":"","x":410,"y":520,"wires":[["92b1a18b.cfb56"]]},{"id":"f1d18199.7f8dd","type":"inject","z":"9cb1152a.598d98","name":"","topic":"","payload":"https://upload.wikimedia.org/wikipedia/commons/0/0b/Small_Faces_1965.JPG","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":110,"y":520,"wires":[["756cad6d.df47c4"]]},{"id":"a6d1383e.641fd8","type":"comment","z":"9cb1152a.598d98","name":"Computer Vision - Describe","info":"","x":160,"y":480,"wires":[]},{"id":"92b1a18b.cfb56","type":"debug","z":"9cb1152a.598d98","name":"","active":true,"console":"false","complete":"false","x":570,"y":520,"wires":[]},{"id":"48b0d4fa.57fddc","type":"function","z":"9cb1152a.598d98","name":"prepare","func":"msgOut = {\n    payload: {\n        url: msg.payload\n    },\n    url: global.get('cognitive').vision.url + '/tag',\n    headers: {\n        'Content-Type': 'application/json',\n        'Ocp-Apim-Subscription-Key': global.get('cognitive').vision.key\n    }\n}\nreturn msgOut;","outputs":1,"noerr":0,"x":260,"y":600,"wires":[["c7137e3a.5db93"]]},{"id":"c7137e3a.5db93","type":"http request","z":"9cb1152a.598d98","name":"","method":"POST","ret":"obj","url":"","tls":"","x":410,"y":600,"wires":[["33a73407.5439fc"]]},{"id":"a2efb0c.0ffd55","type":"inject","z":"9cb1152a.598d98","name":"","topic":"","payload":"https://upload.wikimedia.org/wikipedia/commons/0/0b/Small_Faces_1965.JPG","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":110,"y":600,"wires":[["48b0d4fa.57fddc"]]},{"id":"3aca27f0.b4be58","type":"comment","z":"9cb1152a.598d98","name":"Computer Vision - Tag","info":"","x":140,"y":560,"wires":[]},{"id":"33a73407.5439fc","type":"debug","z":"9cb1152a.598d98","name":"","active":true,"console":"false","complete":"false","x":570,"y":600,"wires":[]},{"id":"e5528705.9ba408","type":"function","z":"68b99665.cbf1f8","name":"prepare","func":"msgOut = {\n    method: 'POST',\n    headers: {\n        'content-type': 'application/x-www-form-urlencoded'\n    },\n    url: 'https://api.twilio.com/2010-04-01/Accounts/ACcf69d1393c4474d19a53690130577e72/Messages.json',\n    payload: 'From=%2B19162496660&To=%2B421905741023&Body=' + msg.payload\n}\nreturn msgOut;\n\n","outputs":1,"noerr":0,"x":260,"y":260,"wires":[["b8be99de.f8b288"]]},{"id":"c30bd7.cfc00428","type":"inject","z":"68b99665.cbf1f8","name":"","topic":"","payload":"Hello","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":260,"wires":[["e5528705.9ba408"]]},{"id":"5cb1120b.fad5ac","type":"debug","z":"68b99665.cbf1f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":550,"y":260,"wires":[]},{"id":"29f95aa8.ce1296","type":"comment","z":"68b99665.cbf1f8","name":"Send SMS using Twilio API","info":"","x":170,"y":220,"wires":[]},{"id":"b8be99de.f8b288","type":"http request","z":"68b99665.cbf1f8","name":"","method":"use","ret":"txt","url":"","tls":"","x":410,"y":260,"wires":[["5cb1120b.fad5ac"]]},{"id":"fe285aa3.b8d0b8","type":"mqtt out","z":"e790f957.017af8","name":"","topic":"acc-iot-workshop/notify","qos":"","retain":"","broker":"17cde56f.ff2ecb","x":540,"y":160,"wires":[]},{"id":"4d6366f3.4079f8","type":"function","z":"e790f957.017af8","name":"transform","func":"msgOut = {\n    payload: \"New email received with subject \" + msg.topic\n}\nreturn msgOut;","outputs":1,"noerr":0,"x":320,"y":100,"wires":[["fe285aa3.b8d0b8"]]},{"id":"cb5162f0.68bcc","type":"comment","z":"e790f957.017af8","name":"Notify about a new email","info":"","x":150,"y":60,"wires":[]},{"id":"f88d0be8.7dc2d8","type":"mqtt in","z":"e790f957.017af8","name":"","topic":"acc-iot-workshop/email","qos":"2","broker":"17cde56f.ff2ecb","x":140,"y":100,"wires":[["4d6366f3.4079f8"]]},{"id":"39a6fd14.d00712","type":"inject","z":"e790f957.017af8","name":"","topic":"","payload":"Hello","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":220,"wires":[["fe285aa3.b8d0b8"]]},{"id":"d8fa088d.03ff58","type":"comment","z":"e790f957.017af8","name":"Test notification","info":"","x":280,"y":180,"wires":[]},{"id":"e41dd29a.6dc7","type":"function","z":"f581c0c5.147ba","name":"transform","func":"if(msg.payload.entities.intent[0].value == 'light') {\n    node.send([{ topic: 'acc-iot-workshop/light', payload: msg.payload.entities.on_off[0].value=='on'?1:0 }, null]);\n}\n","outputs":1,"noerr":0,"x":620,"y":120,"wires":[["d07bb7be.1b5d38"]]},{"id":"d07bb7be.1b5d38","type":"mqtt out","z":"f581c0c5.147ba","name":"","topic":"","qos":"","retain":"","broker":"17cde56f.ff2ecb","x":770,"y":120,"wires":[]},{"id":"d8808171.cc441","type":"rpi-dht22","z":"6a6e273c.13cf28","name":"","topic":"rpi-dht22","dht":22,"pintype":"0","pin":"4","x":340,"y":120,"wires":[["5d3ceda7.695e24","2e1fd040.50885"]]},{"id":"9d8e0159.aa427","type":"mqtt out","z":"6a6e273c.13cf28","name":"","topic":"acc-iot-workshop/temperature","qos":"2","retain":"true","broker":"17cde56f.ff2ecb","x":750,"y":100,"wires":[]},{"id":"7e4ecc6c.9984b4","type":"inject","z":"6a6e273c.13cf28","name":"","topic":"","payload":"","payloadType":"date","repeat":"20","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":120,"wires":[["d8808171.cc441"]]},{"id":"c626cc7d.30e2d","type":"comment","z":"6a6e273c.13cf28","name":"Scheduled reading from DHT22 sensor","info":"","x":210,"y":80,"wires":[]},{"id":"5d3ceda7.695e24","type":"function","z":"6a6e273c.13cf28","name":"temperature","func":"\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":100,"wires":[["9d8e0159.aa427"]]},{"id":"2e1fd040.50885","type":"function","z":"6a6e273c.13cf28","name":"humidity","func":"msg.payload = msg.humidity;\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":160,"wires":[["9206436e.f76de"]]},{"id":"9206436e.f76de","type":"mqtt out","z":"6a6e273c.13cf28","name":"","topic":"acc-iot-workshop/humidity","qos":"2","retain":"true","broker":"17cde56f.ff2ecb","x":730,"y":160,"wires":[]},{"id":"b1eea189.941cb","type":"ui_slider","z":"e9727776.d47d28","name":"","label":"Pan","tooltip":"","group":"6e794538.453d5c","order":1,"width":"3","height":"3","passthru":false,"outs":"all","topic":"","min":"0","max":"180","step":1,"x":90,"y":460,"wires":[["fb42d440.91cff8"]]},{"id":"1c41ba82.3f2375","type":"mqtt in","z":"25292806.046098","name":"","topic":"acc-iot-workshop/light","qos":"0","broker":"17cde56f.ff2ecb","x":140,"y":100,"wires":[["b4077178.8a488"]]},{"id":"2d56cd21.705c22","type":"comment","z":"25292806.046098","name":"Public to local broker binding","info":"","x":160,"y":40,"wires":[]},{"id":"9aca1799.53d688","type":"mqtt in","z":"9cb1152a.598d98","name":"","topic":"acc-iot-workshop/image","qos":"2","broker":"17cde56f.ff2ecb","x":140,"y":280,"wires":[["c268a605.1115e8"]]},{"id":"2514031.8de07fc","type":"http request","z":"9cb1152a.598d98","name":"","method":"POST","ret":"obj","url":"","tls":"","x":830,"y":280,"wires":[["85f0c9b.772c038"]]},{"id":"a59bd4cb.464918","type":"image","z":"9cb1152a.598d98","name":"","width":"150","x":690,"y":100,"wires":[]},{"id":"c268a605.1115e8","type":"function","z":"9cb1152a.598d98","name":"from data","func":"msg.payload = msg.payload.replace(\"data:image/jpeg;base64,\",\"\");\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":280,"wires":[["ec13639d.4d7f3"]]},{"id":"f4fdbfb4.b6e51","type":"function","z":"9cb1152a.598d98","name":"prepare","func":"msgOut = {\n    payload: msg.payload,\n    url: global.get('cognitive').vision.url + '/describe',\n    headers: {\n        'Content-Type': 'application/octet-stream',\n        'Ocp-Apim-Subscription-Key': global.get('cognitive').vision.key\n    }\n}\nreturn msgOut;","outputs":1,"noerr":0,"x":680,"y":280,"wires":[["2514031.8de07fc"]]},{"id":"89bfc1ff.3c86d","type":"function","z":"f581c0c5.147ba","name":"prepare","func":"msgOut = {\n    payload: {\n        url: msg.payload\n    },\n    url: \"https://westus.api.cognitive.microsoft.com/luis/v2.0/apps/4c455a7b-3d92-43a7-815f-fe90f86dc710?verbose=true&timezoneOffset=-360&subscription-key=2286943acdff4822bcc8b1d41976b316&q=\" + msg.payload,\n    headers: {\n        'Content-Type': 'application/json',\n        'Ocp-Apim-Subscription-Key': '2286943acdff4822bcc8b1d41976b316'\n    }\n}\nreturn msgOut;","outputs":1,"noerr":0,"x":440,"y":300,"wires":[["e64d36e8.098ad8"]]},{"id":"e64d36e8.098ad8","type":"http request","z":"f581c0c5.147ba","name":"","method":"GET","ret":"obj","url":"","tls":"","x":590,"y":300,"wires":[["ce5ac04f.a58c6"]]},{"id":"ce5ac04f.a58c6","type":"debug","z":"f581c0c5.147ba","name":"","active":true,"console":"false","complete":"false","x":750,"y":300,"wires":[]},{"id":"8a82c50e.6faec8","type":"comment","z":"f581c0c5.147ba","name":"Example with Wit.ai","info":"","x":470,"y":80,"wires":[]},{"id":"51e1a5da.9a410c","type":"comment","z":"f581c0c5.147ba","name":"Example with LUIS","info":"","x":470,"y":260,"wires":[]},{"id":"ec68faf9.bc0338","type":"inject","z":"f581c0c5.147ba","name":"","topic":"","payload":"light off","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":260,"wires":[["98b8db86.1aeb38","89bfc1ff.3c86d"]]},{"id":"607f8681.4bef78","type":"ui_gauge","z":"e9727776.d47d28","name":"Memory","group":"dfffe5c2.6238b8","order":2,"width":"0","height":"0","gtype":"gage","title":"Memory","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"60","seg2":"90","x":400,"y":220,"wires":[]},{"id":"99e47a6c.fee058","type":"Memory","z":"4f93bed7.8fae1","name":"","x":300,"y":120,"wires":[["c9aad94a.e71658"]]},{"id":"8eb5cc78.8acf","type":"inject","z":"4f93bed7.8fae1","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":120,"wires":[["99e47a6c.fee058"]]},{"id":"e24743ea.4bb5a","type":"mqtt out","z":"4f93bed7.8fae1","name":"","topic":"acc-iot-workshop/rpi/memory","qos":"","retain":"true","broker":"17cde56f.ff2ecb","x":660,"y":120,"wires":[]},{"id":"c9aad94a.e71658","type":"function","z":"4f93bed7.8fae1","name":"","func":"msg.payload = msg.payload.memusage;\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":120,"wires":[["e24743ea.4bb5a"]]},{"id":"fd12d3ae.01a6c","type":"comment","z":"4f93bed7.8fae1","name":"Raspberry Pi OS Data","info":"","x":160,"y":80,"wires":[]},{"id":"d2a97d8e.65d4b","type":"mqtt in","z":"e9727776.d47d28","name":"","topic":"acc-iot-workshop/rpi/memory","qos":"2","broker":"17cde56f.ff2ecb","x":160,"y":220,"wires":[["607f8681.4bef78","91e30fcc.5885b"]]},{"id":"23805e0e.70f3d2","type":"comment","z":"e9727776.d47d28","name":"Raspberry","info":"","x":100,"y":180,"wires":[]},{"id":"8a102c76.50415","type":"ui_toast","z":"e9727776.d47d28","position":"top right","displayTime":"4","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"Notification","name":"","x":420,"y":340,"wires":[]},{"id":"dbaa8488.073778","type":"mqtt in","z":"e9727776.d47d28","name":"","topic":"acc-iot-workshop/notify","qos":"2","broker":"17cde56f.ff2ecb","x":140,"y":340,"wires":[["8a102c76.50415"]]},{"id":"94e584c3.79fd18","type":"comment","z":"e9727776.d47d28","name":"Nofifications","info":"","x":110,"y":300,"wires":[]},{"id":"ec13639d.4d7f3","type":"base64","z":"9cb1152a.598d98","name":"","action":"","property":"payload","x":460,"y":280,"wires":[["f4fdbfb4.b6e51","a59bd4cb.464918"]]},{"id":"5a0f4bb4.a47714","type":"mqtt out","z":"9cb1152a.598d98","name":"","topic":"acc-iot-workshop/notify","qos":"","retain":"","broker":"17cde56f.ff2ecb","x":1160,"y":280,"wires":[]},{"id":"85f0c9b.772c038","type":"function","z":"9cb1152a.598d98","name":"","func":"msg.payload = msg.payload.description.captions[0].text;\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":280,"wires":[["5a0f4bb4.a47714"]]},{"id":"cfe98eb8.db6ba","type":"comment","z":"9cb1152a.598d98","name":"Analyze Image from MQTT","info":"","x":150,"y":240,"wires":[]},{"id":"91e30fcc.5885b","type":"ui_chart","z":"e9727776.d47d28","name":"","group":"dfffe5c2.6238b8","order":1,"width":0,"height":0,"label":"Memory","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":400,"y":260,"wires":[[],[]]},{"id":"3ce23a08.305536","type":"comment","z":"e9727776.d47d28","name":"Temperature","info":"","x":110,"y":60,"wires":[]},{"id":"6da2460a.d4dae8","type":"ui_chart","z":"e9727776.d47d28","name":"","group":"780b960.81a766c","order":1,"width":0,"height":0,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"20","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":390,"y":100,"wires":[[],[]]},{"id":"f48a3961.94a9b8","type":"mqtt in","z":"e9727776.d47d28","name":"","topic":"acc-iot-workshop/temperature","qos":"2","broker":"17cde56f.ff2ecb","x":160,"y":100,"wires":[["6da2460a.d4dae8"]]},{"id":"41988af0.af3794","type":"http request","z":"e95ee81c.353af8","name":"IAM_Nightly","method":"GET","ret":"txt","url":"https://dev.azure.com/GRD-EMEA/Sunstone/_apis/build/status/Services/Sunstone.IAM_Nightly?branchName=master","tls":"","x":350,"y":80,"wires":[["7898c60d.b6b508"]]},{"id":"3919d8d8.0c5db8","type":"http request","z":"e95ee81c.353af8","name":"CLN_Nightly","method":"GET","ret":"txt","url":"https://dev.azure.com/GRD-EMEA/Sunstone/_apis/build/status/Services/Sunstone.CLN_Nightly?branchName=master","tls":"","x":350,"y":160,"wires":[["ff51bc8d.82172"]]},{"id":"9a9b35a5.4f0b18","type":"http request","z":"e95ee81c.353af8","name":"CLA_Nightly","method":"GET","ret":"txt","url":"https://dev.azure.com/GRD-EMEA/Sunstone/_apis/build/status/Services/Sunstone.CLA_Nightly?branchName=master","tls":"","x":350,"y":120,"wires":[["37a685c9.91130a"]]},{"id":"a3c390ff.52332","type":"inject","z":"e95ee81c.353af8","name":"check builds","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":true,"onceDelay":0.1,"x":140,"y":200,"wires":[["41988af0.af3794","9a9b35a5.4f0b18","3919d8d8.0c5db8","129673cd.33fc5c","82418a85.08e018"]]},{"id":"7898c60d.b6b508","type":"function","z":"e95ee81c.353af8","name":"","func":"if(msg.payload.includes(\"failed\")) {\n    msg.payload = \"70,0,0\";\n} else if(msg.payload.includes(\"partially\")) {\n    msg.payload = \"50,20,0\";\n} else {\n    msg.payload = \"0,70,0\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":80,"wires":[["68c10dc8.682264"]]},{"id":"68c10dc8.682264","type":"mqtt out","z":"e95ee81c.353af8","name":"","topic":"acc-iot-workshop/led/0","qos":"","retain":"true","broker":"17cde56f.ff2ecb","x":760,"y":80,"wires":[]},{"id":"37a685c9.91130a","type":"function","z":"e95ee81c.353af8","name":"","func":"if(msg.payload.includes(\"failed\")) {\n    msg.payload = \"70,0,0\";\n} else if(msg.payload.includes(\"partially\")) {\n    msg.payload = \"50,20,0\";\n} else {\n    msg.payload = \"0,70,0\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":120,"wires":[["3f0b28c7.73c378"]]},{"id":"ff51bc8d.82172","type":"function","z":"e95ee81c.353af8","name":"","func":"if(msg.payload.includes(\"failed\")) {\n    msg.payload = \"70,0,0\";\n} else if(msg.payload.includes(\"partially\")) {\n    msg.payload = \"50,20,0\";\n} else {\n    msg.payload = \"0,70,0\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":160,"wires":[["1f6d669e.5a0a79"]]},{"id":"129673cd.33fc5c","type":"function","z":"e95ee81c.353af8","name":"","func":"msg.payload = \"0,0,0\";\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":200,"wires":[["efd0ef15.e3994","7a540e18.4cc6","d4b7b1bb.159d7","20b5de9.c234022"]]},{"id":"d2b55fab.b229a","type":"mqtt in","z":"e95ee81c.353af8","name":"","topic":"acc-iot-workshop/led/+","qos":"2","broker":"17cde56f.ff2ecb","x":380,"y":520,"wires":[["d15a531c.68bd5"]]},{"id":"d15a531c.68bd5","type":"mqtt out","z":"e95ee81c.353af8","name":"","topic":"","qos":"","retain":"true","broker":"3736441a.ee0f1c","x":570,"y":520,"wires":[]},{"id":"6c28b405.d5657c","type":"inject","z":"e95ee81c.353af8","name":"reset LEDs","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":340,"y":360,"wires":[["4d78d5b2.49e70c"]]},{"id":"4d78d5b2.49e70c","type":"function","z":"e95ee81c.353af8","name":"","func":"msg.payload = \"0,0,0\";\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":360,"wires":[["68c10dc8.682264","3f0b28c7.73c378","1f6d669e.5a0a79","efd0ef15.e3994","20b5de9.c234022","7a540e18.4cc6","e61270e7.47a3c","d4b7b1bb.159d7"]]},{"id":"3f0b28c7.73c378","type":"mqtt out","z":"e95ee81c.353af8","name":"","topic":"acc-iot-workshop/led/1","qos":"","retain":"true","broker":"17cde56f.ff2ecb","x":760,"y":120,"wires":[]},{"id":"1f6d669e.5a0a79","type":"mqtt out","z":"e95ee81c.353af8","name":"","topic":"acc-iot-workshop/led/2","qos":"","retain":"true","broker":"17cde56f.ff2ecb","x":760,"y":160,"wires":[]},{"id":"7a540e18.4cc6","type":"mqtt out","z":"e95ee81c.353af8","name":"","topic":"acc-iot-workshop/led/3","qos":"","retain":"true","broker":"17cde56f.ff2ecb","x":760,"y":200,"wires":[]},{"id":"efd0ef15.e3994","type":"mqtt out","z":"e95ee81c.353af8","name":"","topic":"acc-iot-workshop/led/4","qos":"","retain":"true","broker":"17cde56f.ff2ecb","x":760,"y":240,"wires":[]},{"id":"e61270e7.47a3c","type":"mqtt out","z":"e95ee81c.353af8","name":"","topic":"acc-iot-workshop/led/5","qos":"","retain":"true","broker":"17cde56f.ff2ecb","x":760,"y":280,"wires":[]},{"id":"d4b7b1bb.159d7","type":"mqtt out","z":"e95ee81c.353af8","name":"","topic":"acc-iot-workshop/led/6","qos":"","retain":"true","broker":"17cde56f.ff2ecb","x":760,"y":320,"wires":[]},{"id":"20b5de9.c234022","type":"mqtt out","z":"e95ee81c.353af8","name":"","topic":"acc-iot-workshop/led/7","qos":"","retain":"true","broker":"17cde56f.ff2ecb","x":760,"y":360,"wires":[]},{"id":"fb42d440.91cff8","type":"mqtt out","z":"e9727776.d47d28","name":"","topic":"acc-iot-workshop/servo","qos":"","retain":"","broker":"17cde56f.ff2ecb","x":330,"y":460,"wires":[]},{"id":"c6893465.6b4d68","type":"comment","z":"e9727776.d47d28","name":"Servo control","info":"","x":110,"y":420,"wires":[]},{"id":"42c010.9f9b2ff","type":"mqtt out","z":"fa367d94.1313a","name":"","topic":"acc-iot-workshop/servo","qos":"","retain":"","broker":"3736441a.ee0f1c","x":710,"y":100,"wires":[]},{"id":"d6ca991e.4b9968","type":"comment","z":"fa367d94.1313a","name":"Local broker binding","info":"","x":150,"y":60,"wires":[]},{"id":"b41e5bc.886dca8","type":"mqtt in","z":"fa367d94.1313a","name":"","topic":"acc-iot-workshop/servo","qos":"2","broker":"17cde56f.ff2ecb","x":160,"y":100,"wires":[["1686ad69.a484e3"]]},{"id":"1686ad69.a484e3","type":"debounce","z":"fa367d94.1313a","time":"5","name":"","x":360,"y":100,"wires":[["b664f8b6.ccdc68"]]},{"id":"b664f8b6.ccdc68","type":"range","z":"fa367d94.1313a","minin":"0","maxin":"180","minout":"180","maxout":"0","action":"scale","round":true,"property":"payload","name":"","x":520,"y":100,"wires":[["42c010.9f9b2ff"]]},{"id":"312864f4.6606dc","type":"comment","z":"e95ee81c.353af8","name":"Binding to local broker (for NodeMCU)","info":"","x":430,"y":480,"wires":[]},{"id":"82418a85.08e018","type":"http request","z":"e95ee81c.353af8","name":"Rel_Test","method":"GET","ret":"txt","url":"https://vsrm.dev.azure.com/GRD-EMEA/_apis/public/Release/badge/0df96283-e558-42b7-b06d-d2a39b3b4bb6/6/11","tls":"","x":340,"y":240,"wires":[["a90c4ce0.67764"]]},{"id":"a90c4ce0.67764","type":"function","z":"e95ee81c.353af8","name":"","func":"if(msg.payload.includes(\"failed\")) {\n    msg.payload = \"70,0,0\";\n} else if(msg.payload.includes(\"partially\")) {\n    msg.payload = \"50,30,0\";\n} else {\n    msg.payload = \"0,70,0\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":240,"wires":[["e61270e7.47a3c"]]},{"id":"a9ac3656.70ebb8","type":"inject","z":"1caa4142.4be09f","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":210,"y":80,"wires":[["c205e00d.5f82"]]},{"id":"c205e00d.5f82","type":"function","z":"1caa4142.4be09f","name":"reset poll","func":"msg.payload = [\n  { label: \"Beer\", value: 0 },\n  { label: \"Coffee\", value: 0 },\n  { label: \"Tea\", value: 0 },\n  { label: \"Rum\", value: 0 },\n  { label: \"Vodka\", value: 0 },\n  { label: \"Water\", value: 0 },\n  { label: \"Wine\", value: 0 },\n];\nglobal.set(\"poll\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":120,"wires":[["2ecc5d70.6a46c2"]]},{"id":"5b057861.fe3238","type":"mqtt in","z":"1caa4142.4be09f","name":"","topic":"acc-iot-workshop/poll/random","qos":"2","broker":"17cde56f.ff2ecb","x":160,"y":180,"wires":[["49fabe79.1d487"]]},{"id":"2ecc5d70.6a46c2","type":"mqtt out","z":"1caa4142.4be09f","name":"","topic":"acc-iot-workshop/poll/status","qos":"","retain":"true","broker":"17cde56f.ff2ecb","x":700,"y":160,"wires":[]},{"id":"49fabe79.1d487","type":"function","z":"1caa4142.4be09f","name":"random votes","func":"msg.payload = [\n  { label: \"Beer\", value: parseInt(Math.random()*20) },\n  { label: \"Coffee\", value: parseInt(Math.random()*20) },\n  { label: \"Tea\", value: parseInt(Math.random()*20) },\n  { label: \"Rum\", value: parseInt(Math.random()*20) },\n  { label: \"Vodka\", value: parseInt(Math.random()*20) },\n  { label: \"Water\", value: parseInt(Math.random()*20) },\n  { label: \"Wine\", value: parseInt(Math.random()*20) },\n];\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":180,"wires":[["2ecc5d70.6a46c2"]]},{"id":"350ceb4.59af314","type":"mqtt in","z":"1caa4142.4be09f","name":"","topic":"acc-iot-workshop/poll/vote","qos":"2","broker":"17cde56f.ff2ecb","x":150,"y":240,"wires":[["152d2282.c2473d"]]},{"id":"152d2282.c2473d","type":"function","z":"1caa4142.4be09f","name":"process vote","func":"var poll = global.get(\"poll\");\n\nfor(var i = 0; i < poll.length; i++) {\n    if(poll[i].label === msg.payload) {\n        poll[i].value++;\n    }\n}\nmsg.payload = poll;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":240,"wires":[["2ecc5d70.6a46c2"]]},{"id":"2a03b2ed.acf6fe","type":"inject","z":"1caa4142.4be09f","name":"","topic":"","payload":"Beer","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":300,"wires":[["152d2282.c2473d"]]},{"id":"a72a6ae3.2c8a88","type":"mqtt in","z":"1caa4142.4be09f","name":"","topic":"acc-iot-workshop/poll/reset","qos":"2","broker":"17cde56f.ff2ecb","x":150,"y":120,"wires":[["c205e00d.5f82"]]},{"id":"acd844ec.c755a8","type":"comment","z":"4f93bed7.8fae1","name":"Controlling the value of a PIN directly","info":"","x":260,"y":260,"wires":[]},{"id":"746ea536.44b14c","type":"inject","z":"68b99665.cbf1f8","name":"","topic":"","payload":"yo","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":340,"wires":[["35aeb1fb.30ccde"]]},{"id":"35aeb1fb.30ccde","type":"twilio out","z":"68b99665.cbf1f8","twilio":"44df7867.dcf258","twilioType":"sms","url":"","number":"+421905741023","name":"","x":260,"y":340,"wires":[]},{"id":"8664908b.28171","type":"comment","z":"68b99665.cbf1f8","name":"Send SMS using Twilio node","info":"","x":180,"y":300,"wires":[]},{"id":"b4077178.8a488","type":"mqtt out","z":"25292806.046098","name":"","topic":"cmnd/sonoff_s20/power","qos":"","retain":"","broker":"3736441a.ee0f1c","x":430,"y":100,"wires":[]},{"id":"9f0daf03.5cf43","type":"inject","z":"25292806.046098","name":"","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":140,"wires":[["b4077178.8a488"]]},{"id":"8ba47167.61791","type":"inject","z":"25292806.046098","name":"","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":180,"wires":[["b4077178.8a488"]]},{"id":"2853ec31.02f2b4","type":"mqtt out","z":"25292806.046098","name":"","topic":"cmnd/sonoff_dualr2/power1","qos":"","retain":"","broker":"3736441a.ee0f1c","x":440,"y":260,"wires":[]},{"id":"c6bc2ceb.0a451","type":"inject","z":"25292806.046098","name":"","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":300,"wires":[["2853ec31.02f2b4"]]},{"id":"9bc72572.1205a8","type":"inject","z":"25292806.046098","name":"","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":340,"wires":[["2853ec31.02f2b4"]]},{"id":"bd911b91.d0b108","type":"mqtt out","z":"25292806.046098","name":"","topic":"cmnd/sonoff_dualr2/power2","qos":"","retain":"","broker":"3736441a.ee0f1c","x":440,"y":380,"wires":[]},{"id":"d8758117.12b71","type":"inject","z":"25292806.046098","name":"","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":420,"wires":[["bd911b91.d0b108"]]},{"id":"9cd1fff2.cddd6","type":"inject","z":"25292806.046098","name":"","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":460,"wires":[["bd911b91.d0b108"]]},{"id":"77b708d8.145e08","type":"mqtt in","z":"25292806.046098","name":"","topic":"acc-iot-workshop/light/2","qos":"0","broker":"17cde56f.ff2ecb","x":140,"y":260,"wires":[["2853ec31.02f2b4"]]},{"id":"bb7cfac5.309bb8","type":"mqtt in","z":"25292806.046098","name":"","topic":"acc-iot-workshop/light/3","qos":"0","broker":"17cde56f.ff2ecb","x":140,"y":380,"wires":[["bd911b91.d0b108"]]},{"id":"2f09b7d1.7923e8","type":"mqtt in","z":"fb8f935b.473fa","name":"","topic":"acc-iot-workshop/luminosity","qos":"2","broker":"3736441a.ee0f1c","x":180,"y":100,"wires":[["3bd436fe.2a173a"]]},{"id":"3bd436fe.2a173a","type":"mqtt out","z":"fb8f935b.473fa","name":"","topic":"acc-iot-workshop/luminosity","qos":"","retain":"","broker":"17cde56f.ff2ecb","x":460,"y":100,"wires":[]},{"id":"fb7c00d2.eae2d","type":"comment","z":"fb8f935b.473fa","name":"Publish luminosity to public broker for demoing","info":"","x":230,"y":60,"wires":[]},{"id":"b6aa1fd1.224ac","type":"mqtt in","z":"1f40a4d.dd7e65b","name":"","topic":"acc-iot-workshop/movement","qos":"2","broker":"3736441a.ee0f1c","x":180,"y":120,"wires":[["1f0466c4.627159"]]},{"id":"1f0466c4.627159","type":"mqtt out","z":"1f40a4d.dd7e65b","name":"","topic":"acc-iot-workshop/movement","qos":"","retain":"","broker":"17cde56f.ff2ecb","x":460,"y":120,"wires":[]},{"id":"1d83d169.3e757f","type":"comment","z":"1f40a4d.dd7e65b","name":"Publish movement to public broker for demoing","info":"","x":240,"y":80,"wires":[]}]